
body {
    
    height : 100%
} 
*{
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: none;
}
html{
    background: url(/Images/background-img.jpeg) no-repeat ;
  background-size: cover;
  height: 100%;
}
.cursor{
    position:absolute;
    height:70px;
    transform:translate(-50%,-50%);
    pointer-events:none; 
    z-index: 2;
    transition: 0.3 transform ease;
    transform-origin: 100% 100%;
    opacity: 0.25;
 border-radius: 35px;

}

 .background{
    min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position:fixed;
  top: 0;
   left: 0; 
   z-index: -1;   
} 
 .container{ 
     height: 100%; 
    
    position: relative;
    display: flex;
    justify-content:center;
    
}
.btn{
   
     height: 100px;
     width: 200px;
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     outline: none;
     cursor: none;
     border: 2px solid;
    color: red;
     font-size: 1.5rem;
     background: transparent;
margin-top: 100px;
     position:absolute; top:0; right:0;

}

.lives,.score{
    height: 50px;
     width: 150px;
    outline: none;
     cursor: none;
     border: 2px solid;
    color: red;
     font-size: 1.5rem;
     background: transparent;

    padding:20px;
    text-align: center;
    display: none;
} 

.lives{
    margin-top: 50px;
    position:absolute; top:0; left:0;
}

.score{
    margin-top: 50px;
    position:absolute; top:0; right:0;

}

.bloodspot{
    position: absolute;
    height:150px;
    z-index:2;
    transform: translate(-50%,-50%);

}
.enemy{
    height: 150px;
    -webkit-animation: mover 2s infinite  alternate;
    animation:mover 2s infinite  alternate;
}
.lost{
    
    color: red;
     font-family: 'Montserrat', sans-serif; 
    font-size: 5rem;
    height: 250px;
    width: 250px;
    display: none;
    background: transparent;


}
.cannon {
    position: absolute;
    transform-origin: 50% 50%;
    width:50%;
    height:50%;
    bottom:0
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.8;
    padding: 3.5rem 1.5rem;
    width: 400px;
    height: 200px;
    border-radius: 25px;
    
}

.modal-content-heading-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.modal-content h1{
    color:#927B4F;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 2px;
    margin:0
}
.modal-content img{
    text-align: center;
    width:250px;
    height:170px;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    pointer-events:auto;
    border-radius: 0.25rem;
    background-color: #927B4F;
    position: absolute;
    top:10px;
    right: 10px;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@-webkit-keyframes mover {
    50% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    10% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
    
}

